<div class='card'>

  <div class='card-body'>  
  <div class="container-fluid">
    <div class="row">
      <div class="card-header col-8">
        {{pageTitle}}
      </div>
      <div class="col-4">
        
        <div class='col'>Filter by:</div>
        <div class='col'>
            <input type='text'  [(ngModel)]='listFilter'/>
        </div>

      </div>
    </div>
  </div>


  
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}} </h4>
      </div>
    </div>


    <div class='table-responsive'>
      <table class='table' *ngIf='datos && datos.length'>
        <thead>
          <tr>
            <th>Consumer ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Status</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let data of datos'> 
            <td> {{data.consumerId}} </td>
            <td> {{data.lastName | uppercase}} {{data.firstName | uppercase}} </td>
            <td> {{data.dateOfBirth | date:'dd/MM/yyyy'}} </td>
            <td> {{data.status}} </td>
            <td> {{data.members}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>